
.hero{
    text-align:center;
    color: black;
}
.title{
    color:whitesmoke;
    font-family: cursive;
}
img{
    background-image: url("../assets/images/peard.jpg");
}

.button{
    background-color: hsl(0, 90%, 96%);
    color:black;
    border-radius: 20px;
}

.button:hover {
    background-color: lightcoral;
    color: black;
}

.columns {
    margin: auto;
    margin-left: 264px;
    margin-right: 100px;

}

.card{
    background-image: olive;
    background-color: rgb(190, 190, 105);
    text-align: left;
    color: black;
    opacity: 0.8;
}

.header-image { 
    background-image: url("../assets/images/img-333.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: #999;
    font-family: cursive;
}



body {
    background-image: url("../assets/images/img-111.jpg");
}